body{
    background-color: rgba(0, 0, 0, 0.55); /* полупрозрачный черный фон */
}
.chat-user{
    font-size: calc(24px + 16 * (100vw / 1280));
    width: 100%;          /* чтобы блок занимал всю доступную ширину */
    max-width: 100%;      /* предотвращает выход за пределы */
    overflow-wrap: break-word;
    white-space: normal;   /* явно разрешает переносы */
    font-family: 'inscryptionACT1Fan';
}
.chat-user img{
    width: calc(17px + 16 * (100vw / 1280));
    height: calc(17px + 16 * (100vw / 1280));
}
.chat-user .user-message{
    color: rgb(193, 92, 24);
     /*чтобы сообщение могло занимать меньше 100% ширины */
    display: inline;
    /* обеспечивает перенос длинных слов */
    word-break: break-word; 
    overflow-wrap: break-word;
}