body{
    background-color: rgb(255, 255, 255); /* полупрозрачный белый фон */
}
.chat-user{
    font-size: calc(30px + 16 * (100vw / 1280));
    width: 100%;          /* чтобы блок занимал всю доступную ширину */
    max-width: 100%;      /* предотвращает выход за пределы */
    overflow-wrap: break-word;
    white-space: normal;   /* явно разрешает переносы */
    font-family: Arial, Helvetica, sans-serif;
}
.chat-user img{
    display: none;
}
.chat-user .user-message{
    color: rgb(255, 0, 0);
     /*чтобы сообщение могло занимать меньше 100% ширины */
    display: inline;
    /* обеспечивает перенос длинных слов */
    word-break: break-word; 
    overflow-wrap: break-word;
}